:root {

    --background: #101114;

    --card: #1c1d21;

    --text: #ffffff;

    --accent: #5ff1f1;

    --hover: #00b7ff;

    --border: #34363b;

    --shadow: rgba(0,0,0,.3);

    --radius: 12px;

}